# Load Data

In [9]:
import pandas as pd 

# columns correspond to unitigs so we must transpose this table
def load_unitig_data(path) -> pd.DataFrame:
    sr = pd.read_csv(path, sep=' ')
    sr.set_index('pattern_id',inplace=True)
    return sr.T[1:]

azm_sr = load_unitig_data("azm_sr_gwas_filtered_unitigs.Rtab")
cfx_sr = load_unitig_data("cfx_sr_gwas_filtered_unitigs.Rtab")
cip_sr = load_unitig_data("cip_sr_gwas_filtered_unitigs.Rtab")

metadata = pd.read_csv('metadata.csv')
metadata.set_index('Sample_ID',inplace=True)

### Visualization before cleaning

In [10]:
metadata.head(5)

,Year,Country,Continent,Beta.lactamase,Azithromycin,Ciprofloxacin,Ceftriaxone,Cefixime,Tetracycline,Penicillin,...,log2_cro_mic,log2_cfx_mic,log2_tet_mic,log2_pen_mic,azm_sr,cip_sr,cro_sr,cfx_sr,tet_sr,pen_sr
Sample_ID,,,,,,,,,,,,,,,,,,,,,
ERR1549286,2015.0,UK,Europe,NaN,>256,NaN,0.016,NaN,NaN,NaN,...,-5.965784,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN
ERR1549290,2015.0,UK,Europe,NaN,>256,NaN,0.004,NaN,NaN,NaN,...,-7.965784,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN
ERR1549291,2015.0,UK,Europe,NaN,>256,NaN,0.006,NaN,NaN,NaN,...,-7.380822,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN
ERR1549287,2015.0,UK,Europe,NaN,>256,NaN,0.006,NaN,NaN,NaN,...,-7.380822,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN
ERR1549288,2015.0,UK,Europe,NaN,>256,NaN,0.008,NaN,NaN,NaN,...,-6.965784,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN

### Null/NA Cleaning

In [11]:
metadata.dropna(axis=0, how='any', inplace=True)

### Visualization after Null Cleaning

In [12]:
metadata.head(5)

,Year,Country,Continent,Beta.lactamase,Azithromycin,Ciprofloxacin,Ceftriaxone,Cefixime,Tetracycline,Penicillin,...,log2_cro_mic,log2_cfx_mic,log2_tet_mic,log2_pen_mic,azm_sr,cip_sr,cro_sr,cfx_sr,tet_sr,pen_sr
Sample_ID,,,,,,,,,,,,,,,,,,,,,
10356_1#1,1998.0,Brasil,America,S,0.032,0.002,0.002,0.016,0.5,0.125,...,-8.965784,-5.965784,-1.000000,-3.000000,0.0,0.0,0.0,0.0,0.0,0.0
10356_1#10,2008.0,Brasil,America,S,0.125,0.19,0.012,0.016,24,0.125,...,-6.380822,-5.965784,4.584963,-3.000000,0.0,0.0,0.0,0.0,1.0,0.0
10356_1#11,2008.0,Chile,America,S,0.75,6,0.023,0.016,1,1,...,-5.442222,-5.965784,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0
10356_1#12,2008.0,Ecuador,America,R,0.064,0.006,0.006,0.016,12,1.5,...,-7.380822,-5.965784,3.584963,0.584963,0.0,0.0,0.0,0.0,1.0,1.0
10356_1#15,1998.0,USA,America,S,0.125,32,0.004,0.016,1.5,0.5,...,-7.965784,-5.965784,0.584963,-1.000000,0.0,1.0,0.0,0.0,1.0,0.0

### Data Stats

In [7]:
j=[0,0,0]
samples = metadata.index
for sample in samples:
    if metadata['azm_sr'][sample]:
        j[0] +=1
    if metadata['cfx_sr'][sample]:
        j[1] +=1
    if metadata['cip_sr'][sample]:
        j[2] +=1

print(j[0]/len(samples), "% of samples have resistance to azm")
print(j[1]/len(samples), "% of samples have resistance to cfx")
print(j[2]/len(samples), "% of samples have resistance to cip")

0.031161473087818695 % of samples have resistance to azm
0.003777148253068933 % of samples have resistance to cfx
0.4173748819641171 % of samples have resistance to cip

In [24]:
samples = azm_sr.index

# some random unitig from azm_sr

from random import randint
randomUnitig = azm_sr.columns[randint(0,azm_sr.shape[1])]
j = 0
print(azm_sr.shape)
for i in range(azm_sr.shape[0]):
    if azm_sr[randomUnitig][samples[i]]:
        j += 1

print(randomUnitig,"\npresent in", j/azm_sr.shape[0],"% of azm_sr samples (",j,"/",azm_sr.shape[0],')' )

IndexError: index 554 is out of bounds for axis 0 with size 515